.wrap{
    width: 45%;
    padding: 30px;
    border: 1px solid #38D37A;
    border-radius: 10px;
    background: #fff;
}

.buttons{
    display: flex;
}

.buttons__item{
    margin-right: 15px;
}

.buttons__item:last-of-type{
    margin-right: 0;
}