html{
    background: #A8ECC5 url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612706197_14-p-zelenii-fon-odnotonnii-gradient-15.jpg);
    height: 100%;
    line-height: 1.5;
    font-size: 17px;
}

.App {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    padding: 10px 15px;
    font-weight: 600;
    background-color: #48e88c;
    color: #212121;
    outline: none;
    border-radius: 5px;
    border: 1px solid #199d54;
}

button:hover{
    background-color: #8dfdba;
    cursor: pointer;
}